.action-info {
    font-weight: bold;
    color: green;
}
#ft {
    margin-top: 20px;
}
a, a:hover, a:visited {
    font-weight: bold;
    color: green;
}

h3 a, a:hover, a:visited {
    color: blue;
}

.action-details {
    margin-top: 5px;
}
