<div class='search_box' id='search_basic'>
        <% form_tag({:controller => "search", :action => "results"}, :method => "get", :class => "search_form") do %>
                Search Term:
                <%= text_field_tag(:q, "", :size =>' 22') %>  
                Created:
                <select id="created" name="created">
                        <option value="all" selected="selected">Any Time</option>
                        <option value="30">Last 30 days</option>
                        <option value="14">Last 14 days</option>
                        <option value="7">Last week</option>
                        <option value="1">Yesterday</option>
                        <option value="0">Today</option>
                </select>
                &nbsp;
                <%= submit_tag("Search") %> 
        <% end %> 
</div>

